.experience-content{
    padding: 0 16px;
    width: 100%;
}

.card{
    padding: 12px 16px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    background: #fff;
}